

div{
box-shadow: 0 8px 3px #0091EA;	
border-radius: 5px;
padding:10px;
text-align:center;
display:black;
margin:10px;

height:300px;
	
}
h1{
	
	text-shadow:0 0 5px #0000FF;font-size:40px;
}

h2{
	
	color:#D81B60;
	text-shadow: 0 1px 3px #0091EA;	
	font-weight:bold;
	
}

p{
	
		font-weight:bold;

	
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
	font-weight:bold;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}

ul{
	font-weight:bold;
	
}

a{
	
	text-decoration:none;
}
a:hover{
	
	color:red;
}